.lesson{
    background-color: lemonchiffon;
}
.title{
    color: darkblue;
}
.email{
    color: goldenrod;
}
.github{
        background-color: lightseagreen;
}
.portfolio{
    background-color: darkorange;
}
